body{
    background-color: #E5E5E5;
    height:1000px;
}

.container{
    width:700px ;
    height:122px;

}h2{
    color: gray;
}

.header{
    background-color: #DD3535;
    height: 160px;
    width: 700px;
    display: flex;
}
.list{
    color:#FFFFFF;
    padding-top: 25px;
    margin-bottom:50px;
    margin-left: 43px;
    font-size: 12px;
    font-family:Helvetica Neue;
    width:89px;
    height: 15px;
    font-weight: 500px;
    font-style: normal;
    letter-spacing: -2%;   
}
.list-name{
    color: #fff;
    margin-left: 43px;
    margin-bottom: 0px;
    font-size: 22px;
    font-family:Helvetica Neue;
    font-style: normal;
    /* line-height: 28.63px; */
    width:200px;
    height: 29px;
    letter-spacing: -2%; 

}
.span{
    color: #fff;
    margin-left: 43px;
    padding-top: 20px;
    font-size: 14px;
    width: 166px; ;
    height: 17px;;
    font-weight: 200;
    font-style: normal;
    line-height:16.93px ;
    font-family:Helvetica Neue;
  
}
.image{
   padding-top: 20px;
   Width:150px;
    Height:100px;
    padding-Top:-5px;

}
.image img{
    border-radius: 195px;  
    position: absolute;
    width: 125px;
    height: 120px;
     margin-left:300px;
    padding-top: -5px;
    
}
.main{
  width: 700px;
  height: 1000px;
  display: flex; 
  flex-direction:row;
  overflow: scroll;
}
.work:hover{
    text-decoration: overline;
    color: blue;

}
.main_horizontal{
    width: 550px;
    height: 1000px;
    background-color:#FFFFFF;;
    

}
.main_veltical{
    width:270px;
    height: 1000px;
    background-color: #E5E5E5;
}
 .footer{
    width: 700px;
    height:20px;
    background-color: #DD3535;
} 

/* main */
.work{
    color:#DD3535;
   margin-left: 43px;
   
    font-weight:400;
    font-style: normal;
    font-size: 20px;
    line-height:23.86px;
}
.year{
    height:13px;
    margin-left: 20px;
    padding: 4px;
    border-top-right-radius:65px;
    border-bottom-right-radius:65px;
    background-color: grey;

    font-family: Helvetica Neue;
    font-style: normal;
    font-weight: 500;
    font-size: 8px;
    /* line-height: 1px; */
    align-items: center;
    letter-spacing: -0.02em;
color: #FFFFFF;

}
article{
    margin-left: 135px;
    font-size: 15px;
}
.clt{
    margin-left: 43px;
   
    font-weight:400;
    font-size: 13px;
    color:black;
   
}
.aside{
    margin-left: 15px;
    color:#DD3535;
   margin-left: 15px;
    font-weight:400;
    font-style: normal;
    font-size: 15px;
    line-height:23.86px;

}
.info{
    margin-left: 20px;
    font-family: Helvetica Neue;
    font-style: normal;
    font-size: 15px;


}
